*{
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 1rem;
    margin-right: 1rem;
    
}


h1, h2{
    text-align: center;
}

img{
    width: 42%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

audio{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

audio::-webkit-media-controls-panel {
    background-color: red;
  }

audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider{
    color:red;
    font-size: 0px;
}

p{
    font-size: 24px;
    
}

.credits{
    font-size: 12px;
}